:root {
/* setting up colours */
    --color-primary: #8c8070;
    --color-background: #ffffff;
    --color-accent: #3f402e;
    --color-header: #f4926c;
    --color-footer: #f4926c;
  }
  
* {
    box-sizing: border-box;   
}

html {
    scroll-behavior: smooth;
}
nav{
    --header-height: 90px;
    height: var(--header-height);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    padding: 20px 20px;    
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: var(--color-header);
  }
  .bar1 {
    top: 0px;
  }
  
  .bar3 {
    top: 8px;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-50deg) translate(-9px, 10px);
    transform: rotate(-50deg) translate(-9px, 10px);
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  #myDropdown{
    display: flex;
    z-index: 33;
    position: fixed;
    left: 0;
    top: var(--header-height);
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: var(--color-background);
    flex-direction: column;
    justify-content: center;
    align-content: center;
    transform: translateY(-130%);
    transition: transform 0.3s ease-in-out;
  }
  
  #myDropdown.open {
    transform: translateY(0%);
  }  
  #myDropdown a {
    color: #353535;
    padding: 33px;
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
  }
  #greek {   
    top: 100px;
    font-weight: bold;
} 
  .nav-link {
    color: black;
    text-decoration: none;
    text-transform: uppercase;  
  } 
  .nav-link:focus, .nav-link:hover {
    color: black;
    text-decoration: underline;
  }
  
  .menu-desktop {
    display: none;
    grid-auto-flow: column;
    column-gap: 6px;
  }
  #menu-button {
    font-size: 16px;
    background-color: transparent;
    width: 100px;
    border: none;
    position: relative;
  }
  
  #menu-button > span {
    position: absolute;
    width: 32px;
    height: 2px;
    background-color:#353535;
    transition: 0.4s;
  }

body {
    background-color: white;
    margin: auto;
    font-family: 'Baloo Thambi 2';
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/* I use this flex container space out their contacts, and for it to be responsive for phones */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width: 680px) {
    .flex-container {
        justify-content: space-around;
    }
}
#contacts {
    background-color: white;
    margin: auto;   
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
}
h2 {
    text-align: center;
    padding-top: 2%;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
    font-weight: bolder;
}
#mail{
    text-align: center;
    text-decoration: underline;
}
p {
    text-align: center;
}
h5 {
    text-align: center;
}
footer {
    background-color: var(--color-footer);
    padding: 1px;
}

/* desktop only styles, for nav bar changes */
@media screen and (min-width: 1024px) {
    .menu-desktop {
        grid-auto-flow: column;
        column-gap: 120px;
        display: grid;
    }
    #menu-button {
        display: none;
    }
}
